{% extends 'app/base.html' %} {% load static %} {% block title %}Change
Password{% endblock title %} {% block main-content %}

<style>
  .submit-btn {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 60px;
  }
  .changePass {
    color: black;
  }
</style>
<div class="container my-5">
  <div class="row">
    <h3>Welcome {{request.user}}</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'profile' %}" class="submit-btn changePass"
            >Change Password</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm-6 offset-sm-1">
      <h3>Change Password</h3>
      <hr />
      <form action="" method="post" novalidate class="shadow-smp-5">
        {% csrf_token %} {% for fm in form %}
        <div class="form-group">
          {{fm.label_tag}} {{fm}}<small class="text-danger"
            >{{fm.errors|striptags}}</small
          ><br />
        </div>
        {% endfor %}
        <button type="submit" class="submit-btn mt-4">Save</button>
        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
        <p class="alert alert-danger">{{error}}</p>
        {% endfor %} {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
